{% extends "layout.html" %}
{% block body%}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/img/markus-spiske-vrbZVyX2k4I-unsplash.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Crop Recommendation System</h1>
                            <span class="subheading">
                                "Harvesting Insights, Sowing Success: Your Field's Best Friend in Crop Recommendations"</span>
                                <br>
                                <br>

                                <button style="border-radius: 20%; width: 100px; height: 70px; background-color: #2dc04a; color: #fff; font-size: 16px;"><a href="/predict">KNOW YOU CROP</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
       
        <!-- Footer-->
        {% endblock %}